  #ScoreBoard {
      float: right;
      margin: 1000px, 10px, 0px, 10px;
      width: 100px;
  }

  #gameBoard {
      width: 1000px;
      resize: none;
  }

  #ScoreBoard p {
      font-size: 20pt;
      float: none;
      margin: 0px;
  }

  #answerButtons {
      width: 600px;
      resize: none;
      background-color: lightgray;
      border: 3px solid black;
  }